PCP_HOST=0.0.0.0
PCP_PORT=8765
PCP_DATA_MODE=postgres
PCP_AUTH_TOKEN_SECRET=CHANGE_ME_LONG_RANDOM_AUTH_SECRET
PCP_AUTH_TOKEN_TTL_SECONDS=28800
PCP_SYNC_API_TOKEN=

PCP_POSTGRES_HOST=pcp-postgres
PCP_POSTGRES_INTERNAL_PORT=5432
PCP_POSTGRES_PORT=55432
PCP_POSTGRES_DB=inplast_pcp
PCP_POSTGRES_SUPERUSER=postgres
PCP_POSTGRES_SUPERPASSWORD=CHANGE_ME_POSTGRES

PCP_APP_DB_PASSWORD=CHANGE_ME_PCP_APP
PCP_INTEGRATION_DB_PASSWORD=CHANGE_ME_PCP_INTEGRATION

PCP_DATABASE_URL=postgresql://pcp_app:CHANGE_ME_PCP_APP@pcp-postgres:5432/inplast_pcp
PCP_ACTIONS_DATABASE_URL=postgresql://pcp_integration:CHANGE_ME_PCP_INTEGRATION@pcp-postgres:5432/inplast_pcp
